{% if current_user %}
    <div>Welcome, {{ current_user.name }}!</div>
    <div>
        <!--参考http://symfony.com/doc/current/cookbook/routing/method_parameters.html-->
        <form action="{{ path('user_logout') }}" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <input type="submit" value="Logout" />
        </form>
    </div>
{% else %}
    <div>
        <a href="{{ path('user_login') }}">Login</a>
        <a href="{{ path('user_registration_register') }}">Register</a>
    </div>
{% endif %}