{% extends 'base.html.twig' %}

{% block body %}
    Customers:
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.age }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    total count: {{ customers|length }}
{% endblock %}
