{% extends 'base.html.twig' %}
{% block body %}

    <form action="{{ path('user_password_update', {'reset_password_token': reset_password_token}) }}" method="POST">
        <label for="password">New Password</label>
        <input id="password" type="text" name="password" />
        <ul>
            {% if errors is defined %}
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            {% endif %}
        </ul>
        <input type="hidden" name="_method" value="PUT" />
        <input type="submit" />
    </form>
{% endblock %}
