{% extends 'base.html.twig' %}
{% block body %}
    <form action="{{ path('password_create') }}" method="POST">
        <label for="email">Email</label>
        <input id="email" type="text" name="email" />
        <input type="submit" />
    </form>
{% endblock %}
