亲爱的{{ email }}

<br/>我们收到您因为忘记密码，要求重置91问问帐号密码的申请，请点击<a href="{{ url('password_edit', {'reset_password_token': reset_password_token}) }}">这里</a>重置您的密码。

<br/>如果您并未提交重置密码的申请，请忽略本邮件，并关注您的账号安全，因为可能有其他人试图登录您的账户。

<br/>91问问运营中心