{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('qq_login') }}"><img src="{{ asset('bundles/framework/images/qq_login_logo.png') }}" /></a>
    <a href="{{ path('weibo_login') }}"><img src="{{ asset('bundles/framework/images/weibo_login_logo.png') }}" /></a>
{% endblock %}